.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  float: left;

  width: 100vw;
  height: 6.24rem;

  background-color: rgb(255 255 255 / 90%);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: var(--content-width-pc);
  height: inherit;
  margin-inline: auto;
}

.actions-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.avatar {
  width: 2.25rem;
  height: 2.25rem;

  transition: all 0.2s ease;
}

.avatar:hover {
  border: 0.15rem solid var(--accent-weak);
}

.add-btn {
  height: 2.25rem;
}
