.category-card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 6rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;

  border-radius: var(--squared);

  background-color: var(--faint-weak-down);
  box-shadow: 0 4px 28px -2px rgb(0 0 0 / 8%);
}

.description-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}

.title {
  margin: 0;
}

.amount-info {
  color: var(--faint-strong);
}
