@import url("normalize");

:root {
  --base-strong: #000;
  --base-strong-down: #00171F;
  --base-weak: #FFF;
  --faint-strong-up: #242B33;
  --faint-strong: #667479;
  --faint-strong-down: #99A2A5;
  --faint-weak-up: #CCD1D2;
  --faint-weak: #EBEEEF;
  --faint-weak-down: #FDFDFD;
  --accent-strong: #003459;
  --accent-strong-up: #002A48;
  --accent-strong-down: #00528C;
  --accent-weak: #0078CD;
  --complement-strong: #F7DBA7;
  --complement-strong-up: #EEC77E;
  --complement-weak: #FCEED5;
  --complement-weak-up: #F1D092;
  --complement-background: linear-gradient(134deg, #FCEED5 6.17%, #FCEED5 75.14%, #FFE7BA 100%);
  --critic-strong: #FF564F;
  --warning-strong: #FF912C;
  --success-strong: #34C759;
  --content-width-pc: 1180px;
  --content-width-mobile: 382px;
  --rounded: 3.5rem;
  --squared: 0.75rem;
  font-size: 16px;
}

html,
body,
main {
  position: relative;

  display: flex;
  overflow-x: hidden;
  flex-direction: column;

  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;

  background-color: var(--base-weak);

  font-family: var(--font-roboto);
  font-weight: 500;
  scrollbar-color: var(--faint-strong) var(--faint-weak-up);
}

.default {
  width: 100%;
  max-width: var(--content-width-pc);
  height: 100%;
  min-height: 100%;
  margin-top: 6.74rem;
  margin-bottom: 14.5rem;

  padding-inline: 0.5rem;
  margin-inline: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;

  font-family: inherit;
}

a {
  text-decoration: none;

  color: inherit;
}

::-webkit-scrollbar {
  width: 0.75vmin;
}

::-webkit-scrollbar-track {
  border-radius: 1.75rem;
  background: var(--faint-weak-up);
}

::-webkit-scrollbar-thumb {
  border-radius: 1.75rem;
  background: var(--faint-strong);
}
