.h1 {
  color: inherit;

  font-style: normal;
}

.h2 {
  color: inherit;

  font-style: normal;
}

.h3 {
  color: inherit;

  font-style: normal;
}

.h4 {
  color: inherit;

  font-style: normal;
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 600;
}

.regular {
  font-weight: 400;
}
