.h1 {
  color: inherit;

  font-style: normal;
  line-height: 60px;
}

.h2 {
  color: inherit;

  font-style: normal;
  line-height: 54px;
}

.h3 {
  color: inherit;

  font-style: normal;
  line-height: 38px;
}

.h4 {
  color: inherit;

  font-style: normal;
  line-height: 36px;
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 600;
}

.regular {
  font-weight: 400;
}
