.user-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding: 0.5rem;

  border-radius: var(--squared);
  background-color: var(--faint-weak-down);
  box-shadow: 0 4px 28px -2px rgb(0 0 0 / 8%);
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 100%;
  gap: 1rem;
}

.name {
  margin: 1rem 0;

  line-height: 1rem;
}

.list {
  padding: 0;

  list-style: none;

  color: var(--faint-strong);

  line-height: 1.3rem;
}

.list-item {
  margin: 0 0 0.5rem;
}

.btn-wrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
}
